beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
decorator==4.3.0
EbookLib==0.17.1
future==0.16.0
Gutenberg==0.8.0
idna==2.6
isodate==0.6.0
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
nltk==3.4.5
num2words==0.5.6
ply==3.11
pyparsing==2.2.0
python-dateutil==2.7.3
python-editor==1.0.3
rdflib==4.2.2
requests==2.20.0
roman==2.0.0
six==1.11.0
spacy==2.0.11
typing==3.6.1
urllib3==1.24.3
pytest==3.7.1
marshmallow==2.16.0
