alembic==0.9.9
beautifulsoup4==4.6.0
bs4==0.0.1
bsddb3==6.2.5
certifi==2018.4.16
chardet==3.0.4
decorator==4.3.0
future==0.16.0
Gutenberg==0.6.1
idna==2.6
isodate==0.6.0
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
num2words==0.5.6
pkg-resources==0.0.0
ply==3.11
pyparsing==2.2.0
python-dateutil==2.7.3
python-editor==1.0.3
rdflib==4.2.2
rdflib-sqlalchemy==0.3.8
requests==2.18.4
roman==2.0.0
six==1.11.0
SQLAlchemy==1.2.7
typing==3.6.1
urllib3==1.22
